body,html {
    margin: 0;
    padding: 0;
}

div, span, a, form, input, h1, h2, h3, h4, h5, h6 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div {
    display: block;
}

.border-radius {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
}

#navigation-box a {
    width: 131px;
    height: 131px;
    clear: both;
    display: inline-block;
    margin: 2px 2px;
    text-decoration: none;
    text-align: center;
    padding-top: 100px;
    background: #EEE;
}

#navigation-box a:hover {
    background: #AAA;
}