body,html {
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
}

div, span, a, form, input, h1, h2, h3, h4, h5, h6 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1 {
    font-size: 1.4em;
    color: #008000;
}

a {
    color: #008000;
}

/* Table */
th {
    text-align: left;
}

td, th {
    padding-right: 5px;
}

/* style form */
form dt {
    width: 100px;
    display: block;
    float: left;
    clear: left;
}

form dd {
    margin-left: 0;
    float: left;
}

form #submitbutton {
    margin-left: 100px;
}

div {
    display: block;
}

.border-radius {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
}

#navigation-box a {
    width: 131px;
    height: 131px;
    clear: both;
    display: inline-block;
    margin: 2px 2px;
    text-decoration: none;
    text-align: center;
    padding-top: 100px;
    background: #EEE;
}

#navigation-box a:hover {
    background: #AAA;
}